<div class="modal text-align:center  mt-5" id="login">
      <div class="modal-header ">
        <h5 class="modal-title" id="exampleModalLabel">Products</h5>
      </div>
      <div class="modal-body">
        <div class="col-4">
          <input type="text" class="form-control"  placeholder= "product Image"  #prodImg >
        </div>
        <div class="col-4 mt-2">
          <input type="text" class="form-control" placeholder="product Name" #prodName>
        </div>
        <div class="col-4 mt-2">
          <input type="text" class="form-control" placeholder="product Qty"  #prodQty>
        </div>
        <div class="col-4 mt-2">
          <input type="text" class="form-control" placeholder="product Price"  #prodPrice>
        </div>
      </div>
      
        <div class="col-4 ml-2">
          <button type="button" class="btn btn-primary mb-2 ml-2" (click)="createProduct()">Buy Now</button>
        </div>
      </div>
    
 